<component name="ArtifactManager">
  <artifact type="jar" build-on-make="true" name="Server">
    <output-path>C:/MinecraftServer/1.20.1 Abyss/plugins</output-path>
    <root id="archive" name="AbyssMainPlugin.jar">
      <element id="module-output" name="AbyssMainPlugin" />
    </root>
  </artifact>
</component>